.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  width: 41vh;
  height: 7vh;
  border-radius: 0.8vh;

  .input-typing {
    background-color: transparent;
    width: 90%;
    height: 60%;
    color: #0f0a0a;
    font-weight: 700;
    font-size: 1.9vh;
  }

  ::placeholder {
    color: #0f0a0a;
  }
}
