<div class="main-div">
  <img id="backround" src="../../assets/the-coffee-stuff.jpg" alt="Coffee">
  <div class="content">
    <div class="central">
      <img id="login-svg" src="../../assets/logo.svg" alt="Velvet Morning">

      <div class="input-container">
        <img src="../../assets/email.svg" alt="e-mail"> <input [(ngModel)]="email" type="text" class="input-typing"
          placeholder="e-mail">
      </div>

      <div class="input-container">
        <img src="../../assets/lock.svg" alt="password"> <input [(ngModel)]="password" type="password" class="input-typing"
          placeholder="password">
      </div>

      <button type="submit" (click)="authenticateUser(email, password)">
        <a routerLink="/welcome-page">
          <div class="square">
            <p>Login</p>
          </div>
        </a>
      </button>

      <a routerLink="/forgot-password">
        <p>Forgot the password?</p>
      </a>
    </div>

    <app-footer></app-footer>
  </div>
</div>
