.main-div {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  max-height: 100%;

  app-footer {
    width: 100%;
  }

  #backround {
    max-width: 100%;
    max-height: 100%;
  }
  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;

    .log {
      width: 20vh;
      height: 5vh;
      font-size: 2.3vh;
      padding-left: 5vh;
      padding-top: 0.5vh;
      font-weight: 200;
      color: #cccccc;
      img {
        width: 4vh;
        height: 4vh;
      }
    }

    .central {
      opacity: 0.9;
      display: flex;
      margin-top: 5.5vh;
      padding: 5.5vh;
      height: 80vh;
      width: 60vh;
      background-color: black;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      img {
        height: 26vh;
        width: 45vh;
      }

      button {
        background-color: transparent;
        .square {
          display: flex;
          height: 7.2vh;
          width: 35vh;
          background-color: #ce6c0e;
          border-radius: 1.4vh;

          button:hover {
            // background-color: #7A4500;
            background-color: #000000;
          }

          align-items: center;
          justify-content: center;

          p {
            font-weight: 100;
            color: #cccccc;
            font-size: 3.9vh;
          }
        }
      }

      .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c0c0c0;
        width: 41vh;
        height: 7vh;
        border-radius: 0.8vh;

        img {
          width: 3.5vh;
          height: 3.5vh;
        }

        .input-typing {
          background-color: transparent;
          width: 90%;
          height: 60%;
          color: #0f0a0a;
          font-weight: 400;
          font-size: 1.9vh;
        }

        ::placeholder {
          color: #0f0a0a;
        }
      }

      p {
        color: #c0c0c0;
        font-weight: 200;
        font-size: 2.1vh;

      }
    }
  }
}
