<div class="main-div">
  <img id="backround" src="../../assets/the-coffee-stuff.jpg" alt="Coffee">
  <div class="content">
    <div class="central">
      <img id="login-svg" src="../../assets/logo.svg" alt="Velvet Morning">
      <app-button></app-button>
    </div>
    <div class="userData">
      <div class="id">
        {{id}}
      </div>
      <div class="email">
        {{email}}
      </div>
      <div class="name">
        {{name}}
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
