.main-div {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  max-height: 100%;

  #backround {
    max-width: 100%;
    max-height: 100%;
  }
  .content {
    display: flex;
    position: absolute;
    align-items: baseline;
    .log {
      width: 20vh;
      height: 5vh;
      font-size: 4vh;
      padding-left: 5vh;
      padding-top: 0.5vh;
      font-weight: 200;
      color: #cccccc;
      img {
        width: 4vh;
        height: 4vh;
        margin-left: 0.5vh;
      }
    }
  }
}
